body {
    background-color: red;
    background-image: url("https://data.whicdn.com/images/11517279/original.jpg"); 
}

.container {
    background-color: rgb(255, 245, 98);
}

.container .jumbotron {
    background-color: rgb(255, 245, 98);
    text-align: center;
    align-content: center;
}

.container h2 {
    font-family: 'Bungee', cursive;
    font-size: 50px;
}

.container a {
    color: red;
}

.container a.btn.btn-danger {
    color: white;
}

.container div.panel-body {
}

.container .chosen-select {
    background-color: white;
}

.caption {
    font-family: 'Bungee', cursive;
    text-align: center;
    align-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.imagepreveiw {
    align-content: center;
}
